<div class="education-container">
    <h2>Formacion y educacion</h2>

    <div class="row">
        <div class="col-md-6 col-12 img-container">
            <img src="./../../../../assets/img/arprograma.jpg" alt="" class="logo-institucion">
        </div>
        <div class="col-md-6 col-12 info-education">
            <h3 class="titulo">Programador Web Full-stack</h3>
            <p class="periodo">2021 - 2022</p>
            <a class="link-certificado" href="">Certificado</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12 img-container">
            <img src="./../../../../assets/img/fcefyn.png" alt="" class="logo-institucion">
        </div>
        <div class="col-md-6 col-12 info-education">
            <h3 class="titulo">Tecnicatura Universitaria en Programacion Web</h3>
            <p class="periodo">2019 - Actualidad</p>
            <a class="link-certificado" href="">Certificado</a>
        </div>
    </div>
</div>