<div class="formacion-container">
    <h1>Formación</h1>
    <p-carousel [value]="listaEducacion" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-educacion pTemplate="item">
            <div class="formacion">
                <img src="{{educacion.logoinstitucion}}" alt="">
                <div class="texto">
                    <h2 class="texto1">{{educacion.nombre}}</h2>
                    <h3 class="texto2">{{educacion.titulo}}</h3>
                    <p class="texto3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloremque impedit a error voluptatem consequatur, officia tenetur totam itaque possimus.</p>
                    <p class="texto4">{{educacion.fechaingreso}} - {{educacion.fechaegreso}}</p>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>