.header {
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.5s;
}

.logo-arprograma {
    width: 250px;
}

.navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.contenedor {
    width: 100%;
}

.nav-items{
    color:#F2F2F2;
    margin: 5px;
    border-bottom: solid 3px;
    border-bottom-color: #4e4e4e00;
    transition: all 0.5s;
}

.nav-items:hover {
    border-bottom-color:  var(--color2);
    transition: all 0.5s;
}

.nav-items>a {
    color: var(--color4);
    border-radius: 5px;
    padding: 10px;
}
.nav-items>a:hover {
    color: var(--color2);
}

.nav-link{
    font-size: 1.3rem;
    font-weight: lighter;
}


.show {
    background-color: var(--color1);
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

.logo {
    left: 0;
}

.solido {
    background-color: var(--color1);
    transition: all 0.5s;
}

.boton {
    margin-right: 0%;
    background-color: var(--color2);
}


@media (max-width: 400px) {
    .logo-arprograma {
        width: 200px;
    }
}