<div class="banner">
    <div class="imagen"> <img src="https://image.freepik.com/vector-gratis/computadora-portatil-icono-isometrico-codigo-programa-desarrollo-software-aplicaciones-programacion-neon-oscuro_39422-971.jpg" alt=""> </div>
    <div class="row">
        <div class="col-md-6 col-12 banner-img" >
            <div class="cont-img"><img src="./assets/img/29213224-hombre-foto-de-perfil-silueta-avatar.jpg" alt=""></div>
        </div>
        <div class="col-md-6 col-12 banner-info">
            <div class="cont-info">
                <h1>Hola, soy Julian Peña</h1>
                <p>Bienvenido a mi portfolio web!</p>
                <button type="button" class="boton">Continuar</button>
            </div>
        </div>
    </div>
    <div class="gradiante"></div>
    
</div>

<app-about></app-about>

<app-education></app-education>