footer {
    border: none;
    width: 100%;
    background-color: var(--color1);
}

.redes {
    width: 80%;
    margin: auto;
    text-align: center;
}

.red {
    width: auto;
    height: auto;
    font-size: 50px;
    color: #f4f4f4;
    margin: 20px 20px;
}





/* Media Query */

@media (max-width: 400px) {
    .red {
        margin: 10% 0%;
        font-size: 30px;
    }
}