footer {
    border: none;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    width: 90%;
    color: var(--color3);
    border: solid 2px var(--color3);
    border-radius: 2px;
}

p{
    font-size: 20px;
    font-family: var(--rel);
    color: var(--color2);
    text-align: center;
}

.redes {
    width: 80%;
    margin: auto;
    text-align: center;
}

.red {
    width: auto;
    height: auto;
    font-size: 50px;
    color: #f4f4f4;
    margin: 20px 20px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

a:hover{
    color: var(--color2);
}





/* Media Query */

@media (max-width: 400px) {
    .red {
        margin: 10% 0%;
        font-size: 30px;
    }
    p{
        width: 90%;
        font-size: 20px;
    }
}