<div class="proyectos-container">
    <div class="texto">
        <h1>Proyectos</h1>
        <p>Éste es un conjunto de proyectos desarrollados con diferentes tecnologías, contiene tanto experimentos como así también proyectos terminados muy interesantes.</p>
    </div>
    <div class="proyectos">
        <div *ngFor="let proyecto of listaProyectos">
            <div class="proyecto">
                <p>{{proyecto.nombre}}</p>
                <a href="{{proyecto.linkproyecto}}" class="enlace-proyecto">
                    <i class="fa-solid fa-up-right-from-square"></i>
                </a>
            </div>
        </div>
    </div>
</div>