<div class="about-container">
    <h2 class="title">Sobre mi...</h2>
    <div class="row contenido">
        <div class="col-md-6 col-12 imagen">
            <img src="assets/img/376-3767417_computer-programming-png.png" alt="">
        </div>
        <div class="col-md-6 col-12 texto">
            <p>Soy estudiante de la Tecnicatura Universitaria en Programacion Web en la Universidad Nacional de San Juan, actualmente me sigo capacitando en distintas areas de programacion y en especial en el area de Front-end, me considero una persona capas y comprometida con mis metas, mis pasatiempos preferidos son el gimnasio, el cine y pasar tiempo con amigos y me encantan las mascotas</p>
        </div>
        
    </div>
</div>
