.habilidades-container{
    padding: 100px 0px;
    background-color: var(--color1);
}

.habilidades-container h1{
    font-size: 50px;
    margin-bottom: 100px;
    font-family: var(--mont);
    color: var(--color4);
    text-align: center;
}
.skill{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 200px;
    background-color: var(--color4);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    color: var(--color2);
}

.nombre{
    font-size: 30px;
    font-family: var(--mont);
    color: var(--color2);
}









::ng-deep .p-carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}






::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--color3);
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: var(--color2);
}