<div class="habilidades-container">
    <h1>Habilidades</h1>
    <p-carousel [value]="listaHabilidades" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-habilidad pTemplate="item">
            <div class="skill">
                <div class="logo">
                    <i class="{{habilidad.logoskill}}"></i>
                </div>
                <div class="nombre">
                    {{habilidad.nombre}}
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>